<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">My Profile</a></li>
                <li><a href="#MyProfile">About Me</a></li>
                <li><a href="#MyShayla">Hobbies</a></li>
            </ul>
        </nav>
        <div>
            <img src="{{ url_for('static', filename='gambar/cover.png') }}" class="cover-image" alt="Cover">
        </div>
    </header>

    <main>
        <div id="content">
            <article id="MyProfile" class="card">
                <h2>My Profile</h2>
                <img src="{{ url_for('static', filename='gambar/Work.png') }}" class="featured-image" alt="MyProfile">
            </article>

            <article id="MyShayla" class="card">
                <h2>About Me</h2>
                <img src="{{ url_for('static', filename='gambar/Philosophy.png') }}" class="featured-image" alt="MyShayla">
            </article>
        </div>
    </main>
</body>
</html>
